.ant-form {
    & > .ant-form-item {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.85);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5715;
        list-style: none;
        font-feature-settings: 'tnum', 'tnum';
        margin-bottom: 24px;
        vertical-align: top;
        transition: margin-bottom 0.3s 0.017s linear;
    }
    & > .ant-form-item-with-help {
        margin-bottom: 0;
        transition: none;
    }
    &.ant-form-item-has-error :not(.ant-input-disabled):not(.ant-input-borderless).ant-input {
        border-color: #ff7875;
        box-shadow: 0 0 0 2px rgb(255 77 79 / 20%);
        border-right-width: 1px !important;
        outline: 10px;
    }
    .ant-form-item-explain {
        clear: both;
        color: rgba(0, 0, 0, 0.45);
        font-size: 14px;
        line-height: 1.5715;
        transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    .ant-form-item-control-input + .ant-form-item-explain-connected {
        height: 0;
        min-height: 0;
        opacity: 0;
    }
    .ant-form-item-with-help .ant-form-item-explain {
        height: auto;
        min-height: 24px;
        opacity: 1;
    }
    & .ant-form-item-explain-error {
        color: #7febeb;
        // color: #ff4d4f;
    }
}
